<div class="container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        {{ '::Welcome_Title' | abpLocalization }}
      </h5>
    </div>
    <div class="card-body">
      @if(!hasLoggedIn){
        <button class="btn btn-primary mb-2" (click)="login()">{{ 'AbpUi::Login' | abpLocalization }}</button>
      }
      
      <p>{{ '::Welcome_Text' | abpLocalization }}</p>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-body">
      <div class="row">
       
<div class="row">
  <!-- <p-button label="Primary"></p-button>
  <p-button label="Secondary" severity="secondary"></p-button>
  <p-button label="Success" severity="success"></p-button>
  <p-button label="Info" severity="info"></p-button>
  <p-button label="Warning" severity="warning"></p-button>
  <p-button label="Help" severity="help"></p-button>
  <p-button label="Danger" severity="danger"></p-button>
  <p-button label="Submit"></p-button>
  <input type="text" pInputText  /> -->

  <div class="card">
    <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"></p-selectButton>
  </div>


</div>

        <div class="container">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Product </div>
            </div>
            <div class="card-body">
              <!-- FORM FOR NEW TODO ITEMS -->
              <form class="row row-cols-lg-auto g-3 align-items-center" (ngSubmit)="create()">
                <!-- <div class="col-12">
                  <div class="input-group">
                    <input name="NewTodoText" type="text" [(ngModel)]="newid" class="form-control" placeholder=" ID" />
                  </div>
                </div> -->
                <div class="col-12">
                  <div class="input-group">
                    <input name="NewTodoText" type="text" [(ngModel)]="newname" class="form-control" placeholder="name" />
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-group">
                    <input name="NewTodoText" type="text" [(ngModel)]="newtype" class="form-control" placeholder="type" />
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
              <!-- TODO ITEMS LIST -->
              
            </div>
          </div>

          <div>

            <div class="card">
              <p-table 
              [value]="datasourcetable" 
              styleClass="p-datatable-gridlines" 
              [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
              [tableStyle]="{ 'min-width': '75rem' }"
              >
              
                
                  <ng-template pTemplate="header">
                      <tr>
                          <th>id</th>
                          <th>name</th>
                          <th>type</th>
                          <th>َAction</th>
                          
                      </tr>



                      <tr>
                        <th>
                          <p-columnFilter type="text" field="id"></p-columnFilter>
                         </th>
                        <th>
                          <p-columnFilter type="text" field="name"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="type"></p-columnFilter>
                       </th>
                      <th>
                          <p-columnFilter type="text" field="َAction"></p-columnFilter>
                      </th>
                    </tr>


                  </ng-template>
                  <ng-template pTemplate="body" let-datasourcetable>
                      <tr>
                          <td>{{ datasourcetable.id }}</td>
                          <td>{{ datasourcetable.name }}</td>
                          <td>{{ datasourcetable.type }}</td>
                          <td (click)="delete( datasourcetable.id )"><a href="#">Delete</a></td>

                         
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="summary"> Footer </ng-template>
              </p-table>
          </div>


            <!-- <p-table #dt [columns]="cols" styleClass="p-datatable-gridlines" 
            [value]="datasourcetable" responsiveLayout="scroll"> 
            <ng-template pTemplate="header" let-columns> 
                <tr> 
                    <th *ngFor="let col of columns"> 
                        {{ col.header }} 
                    </th> 
                </tr> 
            </ng-template> 
            <ng-template pTemplate="body" let-rowData let-datasourcetable> 
                <tr [pSelectableRow]="rowData"> 
                    <td *ngFor="let col of columns"> 
                        {{ rowData[col.field] }} 
                    </td> 
                    <td (click)="delete(rowData[col.])">
                      <span class="danger">Delele </span>
                    </td>
                </tr> 
            </ng-template> 
          </p-table> -->
          </div>



        </div>
        

      </div>
    </div>
  </div>
</div>
